In [30]:
# Import libraries and dependencies
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [31]:
csv_path = Path('SMA_Analysis/Stocks/ABBV.csv')
abbv_df=pd.read_csv(csv_path)
abbv_df = abbv_df.set_index(pd.DatetimeIndex(abbv_df['Date'].values))
abbv_df['daily_return'] = abbv_df['Close'].dropna().pct_change()
abbv_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return
2016-01-21,2016-01-21,45.215070,46.383132,44.923052,46.059547,12097000,0.0,0,NaN
2016-01-22,2016-01-22,46.643578,46.904026,45.633363,46.430489,10383800,0.0,0,0.008054
2016-01-25,2016-01-25,46.588335,47.203938,45.917489,46.288429,9681900,0.0,0,-0.003060
2016-01-26,2016-01-26,46.572560,46.777762,45.151944,45.980637,7421100,0.0,0,-0.006649
2016-01-27,2016-01-27,46.059557,46.509418,44.552124,45.073017,9077700,0.0,0,-0.019739

In [32]:
#Calculate MACD and Signal line indicators
#Calcualte short term exponential moving average (EMA)
ShortEMA = abbv_df.Close.ewm(span=12, adjust=False).mean()
#Calculate the long term EMA
LongEMA = abbv_df.Close.ewm(span=26, adjust=False).mean()
#Calculate MACD
MACD = ShortEMA - LongEMA
#calculate signal line
signal = MACD.ewm(span=9, adjust=False).mean()
#create new columns for data
abbv_df['ShortEMA'] = ShortEMA
abbv_df['LongEMA'] = LongEMA
abbv_df['MACD'] = MACD
abbv_df['Signal Line'] = signal
#show the data
abbv_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return,ShortEMA,LongEMA,MACD,Signal Line
2016-01-21,2016-01-21,45.215070,46.383132,44.923052,46.059547,12097000,0.0,0,NaN,46.059547,46.059547,0.000000,0.000000
2016-01-22,2016-01-22,46.643578,46.904026,45.633363,46.430489,10383800,0.0,0,0.008054,46.116615,46.087025,0.029591,0.005918
2016-01-25,2016-01-25,46.588335,47.203938,45.917489,46.288429,9681900,0.0,0,-0.003060,46.143048,46.101943,0.041105,0.012955
2016-01-26,2016-01-26,46.572560,46.777762,45.151944,45.980637,7421100,0.0,0,-0.006649,46.118062,46.092958,0.025104,0.015385
2016-01-27,2016-01-27,46.059557,46.509418,44.552124,45.073017,9077700,0.0,0,-0.019739,45.957286,46.017407,-0.060121,0.000284

In [33]:
#Calculate RS and RSI
#Get difference in price
delta = abbv_df['Close'].diff(1)
delta = delta.dropna()
up = delta.copy()
down = delta.copy()

up[up<0]=0
down[down>0] = 0

#get time period
period = 14 
#calculate avg gain and average loss
AVG_Gain = up.rolling(window=period).mean()
AVG_Loss = abs(down.rolling(window=period).mean())

#calculate Relative Strength (RS)
RS = AVG_Gain / AVG_Loss

#calcvulate the RSI
RSI = 100.0 - (100.0 / (1.0 +RS))

#create new columns for data
abbv_df['RSI'] = RSI
abbv_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return,ShortEMA,LongEMA,MACD,Signal Line,RSI
2016-01-21,2016-01-21,45.215070,46.383132,44.923052,46.059547,12097000,0.0,0,NaN,46.059547,46.059547,0.000000,0.000000,NaN
2016-01-22,2016-01-22,46.643578,46.904026,45.633363,46.430489,10383800,0.0,0,0.008054,46.116615,46.087025,0.029591,0.005918,NaN
2016-01-25,2016-01-25,46.588335,47.203938,45.917489,46.288429,9681900,0.0,0,-0.003060,46.143048,46.101943,0.041105,0.012955,NaN
2016-01-26,2016-01-26,46.572560,46.777762,45.151944,45.980637,7421100,0.0,0,-0.006649,46.118062,46.092958,0.025104,0.015385,NaN
2016-01-27,2016-01-27,46.059557,46.509418,44.552124,45.073017,9077700,0.0,0,-0.019739,45.957286,46.017407,-0.060121,0.000284,NaN

In [34]:
# Construct a crossover trading signal for MACD
abbv_df['crossover_long'] = np.where(abbv_df['MACD'] > abbv_df['Signal Line'], 1.0, 0.0)
abbv_df['crossover_short'] = np.where(abbv_df['MACD'] < abbv_df['Signal Line'], -1.0, 0.0)
abbv_df['MACD_Signal'] = abbv_df['crossover_long'] + abbv_df['crossover_short']


# Construct crossover trading signal for RSI
abbv_df['oversold'] = np.where(abbv_df['RSI'] < 30, 1.0, 0.0)
abbv_df['overbought'] = np.where(abbv_df['RSI'] > 70, 1.0, 0.0)
abbv_df['RSI_Signal'] = abbv_df['oversold'] + abbv_df['overbought']

abbv_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return,ShortEMA,LongEMA,MACD,Signal Line,RSI,crossover_long,crossover_short,MACD_Signal,oversold,overbought,RSI_Signal
2016-01-21,2016-01-21,45.215070,46.383132,44.923052,46.059547,12097000,0.0,0,NaN,46.059547,46.059547,0.000000,0.000000,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-22,2016-01-22,46.643578,46.904026,45.633363,46.430489,10383800,0.0,0,0.008054,46.116615,46.087025,0.029591,0.005918,NaN,1.0,0.0,1.0,0.0,0.0,0.0
2016-01-25,2016-01-25,46.588335,47.203938,45.917489,46.288429,9681900,0.0,0,-0.003060,46.143048,46.101943,0.041105,0.012955,NaN,1.0,0.0,1.0,0.0,0.0,0.0
2016-01-26,2016-01-26,46.572560,46.777762,45.151944,45.980637,7421100,0.0,0,-0.006649,46.118062,46.092958,0.025104,0.015385,NaN,1.0,0.0,1.0,0.0,0.0,0.0
2016-01-27,2016-01-27,46.059557,46.509418,44.552124,45.073017,9077700,0.0,0,-0.019739,45.957286,46.017407,-0.060121,0.000284,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-01-28,2016-01-28,45.167723,45.562339,43.234105,44.078583,10521100,0.0,0,-0.022063,45.668254,45.873790,-0.205536,-0.040880,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-01-29,2016-01-29,42.160746,43.652396,42.160746,43.328812,17768700,0.0,0,-0.017010,45.308340,45.685273,-0.376933,-0.108091,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-02-01,2016-02-01,42.744781,43.313029,41.442548,42.926304,11693300,0.0,0,-0.009290,44.941873,45.480905,-0.539032,-0.194279,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-02-02,2016-02-02,42.334389,43.234113,42.081835,42.579052,7918300,0.0,0,-0.008089,44.578362,45.265953,-0.687591,-0.292941,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-02-03,2016-02-03,43.036795,45.128259,42.657964,44.859921,16435700,0.0,0,0.053568,44.621679,45.235876,-0.614198,-0.357192,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-02-04,2016-02-04,44.781005,45.230867,43.691865,44.796787,10351200,0.0,0,-0.001407,44.648619,45.203351,-0.554733,-0.396701,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-02-05,2016-02-05,44.394276,44.465307,41.529365,41.923981,13263200,0.0,0,-0.064130,44.229444,44.960435,-0.730991,-0.463559,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-02-08,2016-02-08,41.497802,42.697432,40.992691,41.742462,9369400,0.0,0,-0.004330,43.846831,44.722067,-0.875236,-0.545894,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-02-09,2016-02-09,41.284707,42.571153,41.087400,42.208107,7655800,0.0,0,0.011155,43.594720,44.535847,-0.941128,-0.624941,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-02-10,2016-02-10,42.705315,43.163068,41.474113,41.608284,9302800,0.0,0,-0.014211,43.289114,44.318991,-1.029877,-0.705928,29.172789,0.0,-1.0,-1.0,1.0,0.0,1.0
2016-02-11,2016-02-11,41.276801,41.923971,40.897971,41.182095,8551100,0.0,0,-0.010243,42.964957,44.086628,-1.121671,-0.789077,25.569368,0.0,-1.0,-1.0,1.0,0.0,1.0
2016-02-12,2016-02-12,41.458327,41.805591,40.724342,41.497791,9976200,0.0,0,0.007666,42.739239,43.894862,-1.155623,-0.862386,28.054913,0.0,-1.0,-1.0,1.0,0.0,1.0
2016-02-16,2016-02-16,42.176527,42.515897,41.616174,42.231773,8313000,0.0,0,0.017687,42.661168,43.771671,-1.110503,-0.912009,33.472439,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-02-17,2016-02-17,42.886839,43.526118,42.105499,43.415623,10005600,0.0,0,0.028032,42.777238,43.745297,-0.968059,-0.923219,42.866806,0.0,-1.0,-1.0,0.0,0.0,0.0
2016-02-18,2016-02-18,43.826040,43.826040,42.752684,43.052593,6555000,0.0,0,-0.008362,42.819600,43.693985,-0.874385,-0.913452,45.330499,1.0,0.0,1.0,0.0,0.0,0.0
2016-02-19,2016-02-19,43.013123,43.407739,42.602723,42.847385,8532500,0.0,0,-0.004766,42.823875,43.631274,-0.807399,-0.892242,47.694652,1.0,0.0,1.0,0.0,0.0,0.0
2016-02-22,2016-02-22,42.847378,43.660285,42.413301,43.628716,9381800,0.0,0,0.018235,42.947696,43.631085,-0.683388,-0.850471,53.245795,1.0,0.0,1.0,0.0,0.0,0.0
2016-02-23,2016-02-23,43.960199,44.441631,43.407736,43.462982,8629700,0.0,0,-0.003799,43.026971,43.618633,-0.591662,-0.798709,54.154271,1.0,0.0,1.0,0.0,0.0,0.0
2016-02-24,2016-02-24,43.139400,43.462985,42.626398,43.320923,6633800,0.0,0,-0.003269,43.072194,43.596580,-0.524386,-0.743844,40.947077,1.0,0.0,1.0,0.0,0.0,0.0
2016-02-25,2016-02-25,43.541906,44.378492,42.957876,44.354816,7076300,0.0,0,0.023866,43.269521,43.652746,-0.383225,-0.671721,47.666657,1.0,0.0,1.0,0.0,0.0,0.0
2016-02-26,2016-02-26,44.402171,44.820466,44.039125,44.196972,5298000,0.0,0,-0.003559,43.412206,43.693059,-0.280853,-0.593547,66.822511,1.0,0.0,1.0,0.0,0.0,0.0
2016-02-29,2016-02-29,44.094368,44.196969,42.989445,43.099937,8395100,0.0,0,-0.024821,43.364164,43.649124,-0.284959,-0.531830,58.847732,1.0,0.0,1.0,0.0,0.0,0.0
2016-03-01,2016-03-01,43.234103,44.465305,42.807920,44.465305,7106000,0.0,0,0.031679,43.533571,43.709582,-0.176011,-0.460666,63.167586,1.0,0.0,1.0,0.0,0.0,0.0
2016-03-02,2016-03-02,44.331134,44.536336,43.723429,43.960197,7054800,0.0,0,-0.011360,43.599206,43.728146,-0.128940,-0.394321,63.873425,1.0,0.0,1.0,0.0,0.0,0.0
2016-03-03,2016-03-03,43.952307,44.268001,43.526124,44.141724,9283900,0.0,0,0.004129,43.682670,43.758781,-0.076111,-0.330679,67.977103,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-07,2020-12-07,105.802549,105.970582,103.746593,104.616417,6532500,0.0,0,-0.013423,102.415475,98.417471,3.998004,3.941756,77.621822,1.0,0.0,1.0,0.0,1.0,1.0
2020-12-08,2020-12-08,104.478031,107.097396,104.379188,106.445030,6688200,0.0,0,0.017479,103.035407,99.012105,4.023302,3.958065,79.160900,1.0,0.0,1.0,0.0,1.0,1.0
2020-12-09,2020-12-09,106.652601,107.888150,106.385719,107.413696,7350700,0.0,0,0.009100,103.708990,99.634445,4.074545,3.981361,83.100431,1.0,0.0,1.0,0.0,1.0,1.0
2020-12-10,2020-12-10,107.799187,107.809073,105.436817,106.247337,6285700,0.0,0,-0.010859,104.099505,100.124289,3.975216,3.980132,75.622510,0.0,-1.0,-1.0,0.0,1.0,1.0
2020-12-11,2020-12-11,105.772894,106.178150,104.359425,105.110634,5205200,0.0,0,-0.010699,104.255063,100.493648,3.761415,3.936389,68.044606,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-14,2020-12-14,106.188039,106.820640,102.886648,102.995377,8272700,0.0,0,-0.020124,104.061265,100.678961,3.382304,3.825572,56.296744,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-15,2020-12-15,104.221046,104.230925,101.137113,101.631332,12101000,0.0,0,-0.013244,103.687429,100.749507,2.937922,3.648042,46.355517,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-16,2020-12-16,101.315031,104.191393,100.721969,103.430290,9182100,0.0,0,0.017701,103.647869,100.948084,2.699786,3.458391,51.277585,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-17,2020-12-17,103.647747,104.280347,102.906417,103.677399,6360600,0.0,0,0.002389,103.652412,101.150255,2.502157,3.267144,50.000000,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-18,2020-12-18,103.815782,103.845434,102.006936,103.242485,13906800,0.0,0,-0.004195,103.589347,101.305235,2.284112,3.070538,49.615598,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-21,2020-12-21,101.572025,102.718611,100.376015,102.511040,6664600,0.0,0,-0.007085,103.423453,101.394554,2.028899,2.862210,49.035646,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-22,2020-12-22,102.214513,102.303469,100.830697,101.611565,4002900,0.0,0,-0.008774,103.144701,101.410629,1.734072,2.636583,43.585242,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-23,2020-12-23,101.868556,102.728501,101.720296,102.086014,3659100,0.0,0,0.004669,102.981826,101.460657,1.521169,2.413500,45.780363,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-24,2020-12-24,101.917979,102.194740,101.413872,102.066246,1378600,0.0,0,-0.000194,102.840968,101.505516,1.335452,2.197890,36.400525,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-28,2020-12-28,102.451736,102.679073,101.532487,102.254044,3948900,0.0,0,0.001840,102.750672,101.560962,1.189710,1.996254,41.167746,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-29,2020-12-29,102.748264,104.151854,102.748264,103.489594,5096400,0.0,0,0.012083,102.864352,101.703824,1.160528,1.829109,38.437706,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-30,2020-12-30,103.894855,105.001910,103.884969,104.053001,5328400,0.0,0,0.005444,103.047221,101.877837,1.169384,1.697164,36.421694,0.0,-1.0,-1.0,0.0,0.0,0.0
2020-12-31,2020-12-31,104.043128,106.039772,103.637864,105.911278,6146800,0.0,0,0.017859,103.487845,102.176610,1.311235,1.619978,48.714106,0.0,-1.0,-1.0,0.0,0.0,0.0
2021-01-04,2021-01-04,105.940925,106.108958,102.659307,104.191391,9523400,0.0,0,-0.016239,103.596083,102.325853,1.270230,1.550028,46.632893,0.0,-1.0,-1.0,0.0,0.0,0.0
2021-01-05,2021-01-05,104.191396,105.782776,103.420407,105.268791,6823800,0.0,0,0.010341,103.853423,102.543849,1.309574,1.501938,59.012560,0.0,-1.0,-1.0,0.0,0.0,0.0
2021-01-06,2021-01-06,103.539022,105.950816,102.975612,104.359428,11017500,0.0,0,-0.008638,103.931270,102.678336,1.252934,1.452137,61.219531,0.0,-1.0,-1.0,0.0,0.0,0.0
2021-01-07,2021-01-07,104.883294,105.822309,104.349536,105.476357,8196000,0.0,0,0.010703,104.168975,102.885597,1.283379,1.418385,58.914724,0.0,-1.0,-1.0,0.0,0.0,0.0
2021-01-08,2021-01-08,105.604855,106.286881,104.537346,106.029884,5345900,0.0,0,0.005248,104.455269,103.118507,1.336762,1.402061,59.983229,0.0,-1.0,-1.0,0.0,0.0,0.0
2021-01-11,2021-01-11,105.832198,108.293409,105.832198,107.759651,6334200,0.0,0,0.016314,104.963636,103.462296,1.501340,1.421916,67.271361,1.0,0.0,1.0,0.0,0.0,0.0
2021-01-12,2021-01-12,107.957341,109.499304,107.858498,108.510864,6114500,0.0,0,0.006971,105.509363,103.836264,1.673099,1.472153,72.905672,1.0,0.0,1.0,0.0,1.0,1.0
2021-01-13,2021-01-13,108.530643,112.098910,108.431793,111.150002,9821300,0.0,0,0.024321,106.377154,104.378022,1.999132,1.577549,82.145234,1.0,0.0,1.0,0.0,1.0,1.0
2021-01-14,2021-01-14,110.699997,112.690002,109.500000,111.629997,8268800,1.3,0,0.004318,107.185283,104.915205,2.270078,1.716055,82.151906,1.0,0.0,1.0,0.0,1.0,1.0
2021-01-15,2021-01-15,111.199997,111.559998,109.480003,110.519997,9196200,0.0,0,-0.009944,107.698316,105.330375,2.367941,1.846432,76.530308,1.0,0.0,1.0,0.0,1.0,1.0
2021-01-19,2021-01-19,111.250000,112.309998,110.260002,112.180000,7723800,0.0,0,0.015020,108.387806,105.837755,2.550051,1.987156,78.515560,1.0,0.0,1.0,0.0,1.0,1.0
2021-01-20,2021-01-20,112.910004,113.099998,111.470001,112.620003,6553600,0.0,0,0.003922,109.038913,106.340143,2.698770,2.129479,77.486480,1.0,0.0,1.0,0.0,1.0,1.0

In [35]:
 # Set x variable list of features
x_var_list = ['MACD_Signal', 'RSI_Signal']
abbv_df[x_var_list].head()

            MACD_Signal  RSI_Signal
2016-01-21          0.0         0.0
2016-01-22          1.0         0.0
2016-01-25          1.0         0.0
2016-01-26          1.0         0.0
2016-01-27         -1.0         0.0

In [36]:
abbv_df[x_var_list] = abbv_df[x_var_list].shift(1)
abbv_df[x_var_list].head()

            MACD_Signal  RSI_Signal
2016-01-21          NaN         NaN
2016-01-22          0.0         0.0
2016-01-25          1.0         0.0
2016-01-26          1.0         0.0
2016-01-27          1.0         0.0

In [37]:
# Drop NAs and replace positive/negative infinity values
abbv_df.dropna(subset=x_var_list, inplace=True)
abbv_df.dropna(subset=['daily_return'], inplace=True)
abbv_df = abbv_df.replace([np.inf, -np.inf], np.nan)
abbv_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return,ShortEMA,LongEMA,MACD,Signal Line,RSI,crossover_long,crossover_short,MACD_Signal,oversold,overbought,RSI_Signal
2016-01-22,2016-01-22,46.643578,46.904026,45.633363,46.430489,10383800,0.0,0,0.008054,46.116615,46.087025,0.029591,0.005918,NaN,1.0,0.0,0.0,0.0,0.0,0.0
2016-01-25,2016-01-25,46.588335,47.203938,45.917489,46.288429,9681900,0.0,0,-0.003060,46.143048,46.101943,0.041105,0.012955,NaN,1.0,0.0,1.0,0.0,0.0,0.0
2016-01-26,2016-01-26,46.572560,46.777762,45.151944,45.980637,7421100,0.0,0,-0.006649,46.118062,46.092958,0.025104,0.015385,NaN,1.0,0.0,1.0,0.0,0.0,0.0
2016-01-27,2016-01-27,46.059557,46.509418,44.552124,45.073017,9077700,0.0,0,-0.019739,45.957286,46.017407,-0.060121,0.000284,NaN,0.0,-1.0,1.0,0.0,0.0,0.0
2016-01-28,2016-01-28,45.167723,45.562339,43.234105,44.078583,10521100,0.0,0,-0.022063,45.668254,45.873790,-0.205536,-0.040880,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0

In [38]:
# Construct the dependent variable where if daily return is greater than 0, then 1, else, 0.
abbv_df['Positive Return'] = np.where(abbv_df['daily_return'] > 0, 1.0, 0.0)
abbv_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return,ShortEMA,...,MACD,Signal Line,RSI,crossover_long,crossover_short,MACD_Signal,oversold,overbought,RSI_Signal,Positive Return
2016-01-22,2016-01-22,46.643578,46.904026,45.633363,46.430489,10383800,0.0,0,0.008054,46.116615,...,0.029591,0.005918,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2016-01-25,2016-01-25,46.588335,47.203938,45.917489,46.288429,9681900,0.0,0,-0.003060,46.143048,...,0.041105,0.012955,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2016-01-26,2016-01-26,46.572560,46.777762,45.151944,45.980637,7421100,0.0,0,-0.006649,46.118062,...,0.025104,0.015385,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2016-01-27,2016-01-27,46.059557,46.509418,44.552124,45.073017,9077700,0.0,0,-0.019739,45.957286,...,-0.060121,0.000284,NaN,0.0,-1.0,1.0,0.0,0.0,0.0,0.0
2016-01-28,2016-01-28,45.167723,45.562339,43.234105,44.078583,10521100,0.0,0,-0.022063,45.668254,...,-0.205536,-0.040880,NaN,0.0,-1.0,-1.0,0.0,0.0,0.0,0.0

In [49]:
# Construct training start and end dates
training_start = abbv_df.index.min().strftime(format= '%Y-%m-%d')
training_end = '2019-12-31'

# Construct testing start and end dates
testing_start =  '2020-01-01'
testing_end = abbv_df.index.max().strftime(format= '%Y-%m-%d')

# Print training and testing start/end dates
print(f"Training Start: {training_start}")
print(f"Training End: {training_end}")
print(f"Testing Start: {testing_start}")
print(f"Testing End: {testing_end}")

Training Start: 2016-01-22
Training End: 2019-12-31
Testing Start: 2020-01-01
Testing End: 2021-01-20

In [50]:
X_train = abbv_df[x_var_list][training_start:training_end]
y_train = abbv_df['Positive Return'][training_start:training_end]

X_train.head()

            MACD_Signal  RSI_Signal
2016-01-22          0.0         0.0
2016-01-25          1.0         0.0
2016-01-26          1.0         0.0
2016-01-27          1.0         0.0
2016-01-28         -1.0         0.0

In [51]:
y_train.head()

2016-01-22    1.0
2016-01-25    0.0
2016-01-26    0.0
2016-01-27    0.0
2016-01-28    0.0
Name: Positive Return, dtype: float64

In [52]:
# Construct the X test and y test datasets
X_test = abbv_df[x_var_list][testing_start:testing_end]
y_test = abbv_df['Positive Return'][testing_start:testing_end]
X_test.head()

            MACD_Signal  RSI_Signal
2020-01-02         -1.0         0.0
2020-01-03         -1.0         0.0
2020-01-06         -1.0         0.0
2020-01-07         -1.0         0.0
2020-01-08         -1.0         0.0

In [53]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [54]:
 # Fit a SKLearn linear regression using just the training set (X_train, Y_train):
model = RandomForestClassifier(n_estimators=100, max_depth=3, random_state=0)
model.fit(X_train, y_train)

# Make a prediction of "y" values from the X_test dataset
predictions = model.predict(X_test)

# Assemble actual y data (Y_test) with predicted y data (from just above) into two columns in a dataframe:
Results = y_test.to_frame()
Results["Predicted Value"] = predictions
Results.head()

            Positive Return  Predicted Value
2020-01-02              1.0              1.0
2020-01-03              0.0              1.0
2020-01-06              1.0              1.0
2020-01-07              0.0              1.0
2020-01-08              1.0              1.0

In [55]:
# Save the pre-trained model
from joblib import dump, load
dump(model, 'random_forest_model.joblib')

['random_forest_model.joblib']

In [56]:
model = load('random_forest_model.joblib')
predictions = model.predict(X_test)
predictions

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [57]:
Results['predicted Value'] = predictions
Results

            Positive Return  Predicted Value  predicted Value
2020-01-02              1.0              1.0              1.0
2020-01-03              0.0              1.0              1.0
2020-01-06              1.0              1.0              1.0
2020-01-07              0.0              1.0              1.0
2020-01-08              1.0              1.0              1.0
2020-01-09              1.0              1.0              1.0
2020-01-10              0.0              1.0              1.0
2020-01-13              0.0              1.0              1.0
2020-01-14              1.0              1.0              1.0
2020-01-15              1.0              1.0              1.0
2020-01-16              0.0              1.0              1.0
2020-01-17              0.0              1.0              1.0
2020-01-21              0.0              1.0              1.0
2020-01-22              0.0              1.0              1.0
2020-01-23              0.0              1.0              1.0
2020-01-24              0.0              1.0              1.0
2020-01-27              1.0              1.0              1.0
2020-01-28              0.0              1.0              1.0
2020-01-29              0.0              1.0              1.0
2020-01-30              0.0              1.0              1.0
2020-01-31              0.0              1.0              1.0
2020-02-03              1.0              1.0              1.0
2020-02-04              1.0              1.0              1.0
2020-02-05              1.0              1.0              1.0
2020-02-06              1.0              1.0              1.0
2020-02-07              1.0              1.0              1.0
2020-02-10              1.0              1.0              1.0
2020-02-11              1.0              1.0              1.0
2020-02-12              1.0              1.0              1.0
2020-02-13              0.0              1.0              1.0
...                     ...              ...              ...
2020-12-07              0.0              1.0              1.0
2020-12-08              1.0              1.0              1.0
2020-12-09              1.0              1.0              1.0
2020-12-10              0.0              1.0              1.0
2020-12-11              0.0              1.0              1.0
2020-12-14              0.0              1.0              1.0
2020-12-15              0.0              1.0              1.0
2020-12-16              1.0              1.0              1.0
2020-12-17              1.0              1.0              1.0
2020-12-18              0.0              1.0              1.0
2020-12-21              0.0              1.0              1.0
2020-12-22              0.0              1.0              1.0
2020-12-23              1.0              1.0              1.0
2020-12-24              0.0              1.0              1.0
2020-12-28              1.0              1.0              1.0
2020-12-29              1.0              1.0              1.0
2020-12-30              1.0              1.0              1.0
2020-12-31              1.0              1.0              1.0
2021-01-04              0.0              1.0              1.0
2021-01-05              1.0              1.0              1.0
2021-01-06              0.0              1.0              1.0
2021-01-07              1.0              1.0              1.0
2021-01-08              1.0              1.0              1.0
2021-01-11              1.0              1.0              1.0
2021-01-12              1.0              1.0              1.0
2021-01-13              1.0              1.0              1.0
2021-01-14              1.0              1.0              1.0
2021-01-15              0.0              1.0              1.0
2021-01-19              1.0              1.0              1.0
2021-01-20              1.0              1.0              1.0

[265 rows x 3 columns]

In [48]:
# Plot predicted results vs. actual results
Results[['Actual Value', 'Predicted Value']].plot(figsize=(20,10))

KeyError: "['Actual Value'] not in index"